<div class="container">
  <div class="card">
    <h2>Car Details</h2>
    <h4>Make: {{ car()?.make }}</h4>
    <h4>Model: {{ car()?.model }}</h4>
    <h4>Year: {{ car()?.year }}</h4>
    <h4>Customer</h4>
    <h4>Name: {{ customer()?.first_name }} {{ customer()?.last_name }}</h4>
    <h4>Phones</h4>
    @for (phone of phones(); track phone.id) {
    <h4>{{ phone?.phone_number }} {{ phone?.phone_type }}</h4>
    }
    <div class="button-group">
      <button>> Delete</button>
      <button>Edit</button>
      <a href="/customers/{{ customer()?.id }}/add-phone">Add Phone</a>
      <a href="/customers/{{ customer()?.id }}/add-car">Add Car</a>
      <button>Add Car</button>
    </div>
  </div>
  <div class="card">
    <h2>Repairs</h2>
    <div class="grid">
      @for (repair of repairs(); track repair.id) {
      <a href="/cars/{{ repair.id }}"
        >{{ repair.date }} {{ repair.hours_taken }} {{ repair.miles }}</a
      >
      }
    </div>
  </div>
</div>
