<router-outlet />
<div class="container">
  <div class="input-group">
    <label for="filter">Filter customers</label>
    <input
      type="text"
      (change)="updateFilter($event)"
      placeholder="Filter customers by name"
      [value]="filter"
    />
  </div>
  <div class="input-group">
    <label for="limit">Page size</label>
    <input
      type="number"
      (change)="updateLimit($event)"
      placeholder="Page size"
      [value]="limit"
      min="5"
      max="100"
      step="5"
    />
  </div>
  <div class="input-group">
    <label for="page">Page Number</label>
    <input
      type="number"
      (change)="updatePage($event)"
      placeholder="Page Number"
      [value]="page"
      min="1"
      [max]="customers.totals.pages"
    />
  </div>
</div>
<ul>
  @for (customer of customers.customers; track customer.id) {
  <li>
    {{ customer.first_name }} {{ customer.last_name }} - {{ customer.notes }}
  </li>
  }
</ul>
{{ customers.totals | json }}

<!-- <button (click)="prevPage()" [disabled]="page <= 1">Previous</button>
<button (click)="nextPage()" [disabled]="page >= customers.totals.pages">Next -->
<!-- @if (isAddCustomer) {
<app-add-customer></app-add-customer>
} @else {
<button (click)="isAddCustomer = true">Add Customer</button>
} -->
<a [routerLink]="['/customers/add']">Add Customer</a>
